services:
  hiddify:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        USER: hiddifyuser
        PASSWORD: mypass
    container_name: hiddify-docker
    hostname: hiddify-docker
    restart: unless-stopped
    
    ports:
      - "5905:5905"  # VPS_IP:5905 -> container:5905
    
    environment:
      - DISPLAY=:5
      - USER=hiddifyuser
      - PASSWORD=mypass
    
    volumes:
      - ./hiddify-home:/home/hiddifyuser
    
    stdin_open: true
    tty: true
    
    # Privileged mode for Hiddify Manager installation
    privileged: true
