services:
  hiddify:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hiddify-docker
    hostname: hiddify-docker
    network_mode: host  # Uses the same IP as the host server
    restart: unless-stopped
    
    environment:
      - DISPLAY=:5
      - USER=vncuser
    
    volumes:
      - ./hiddify-home:/home/vncuser
    
    stdin_open: true
    tty: true
